.gameplay{
    background-image:url(../../assets/img/gameplay.jpg);
    background-size:cover;
    background-position:center;
    min-height:100vh;
    padding: 40px;

    .gameboard{
        background: #FFFFFF;
        border-radius: 17.5186px;
        width:fit-content;
        // height:80%;
        // max-width: 706px;
        height:fit-content;
        padding:26px 45px;
        
    }
    .meta{
        justify-content: space-between;
        .data{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15.7668px;
            line-height: 18px;
            color: #23144B;
            span{
                font-weight: 700;
            }
        }
    }

    
}

@media (max-width:767px){
    .gameplay{
        align-items: center;
        .board__item{
            img{
                width:75% !important;
            }
        }
        .gameboard {
            background: #FFFFFF;
            border-radius: 17.5186px;
            width: -moz-fit-content;
            width: fit-content;
            height: -moz-fit-content;
            height: fit-content;
            padding: 20px 10px;
        }
    }   
}