.gameplay{
    background-image:url(../../assets/img/gameplay.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;

    .gameboard{
        background: #FFFFFF;
        border-radius: 17.5186px;
        width:50%;
        height:80%;
    }
}